@font-face   {
  font-family: title;
  src: url(../fonts/roboto-bold.ttf);
}
@font-face {
  font-family: icons;
  src url(../fonts/MaterialIcons-Regular.ttf);
}
body {
  background-color:ghostwhite;
  font-family:title;
}
*{
  font-family:title;
}
h1 {
  text-align: center;
  font-family: title, sans-serif;
  font-size: 11vh;
  color: dimgray;
}
#createLobby {
  font-family:title;
  width:300px;
  height:60px;
  /*border: 1px gray solid;*/
  border: none;
  box-shadow: 2px 2px 1px gray;
  background-color:#2ECC40;
  color:ghostwhite;
  position: absolute;
  font-size:30px;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s;
}
#createLobby:hover {
  font-size:34px;
  height:70px;
  width:310px;
  transform: translateX(-50%) translateY(-50%);
  transition: all 0.5s;
}
#canvas {
  background: ghostwhite;
  border: 1px solid gray;
  border-radius: 12px;
  margin: auto;
}
#writingUtensils {
  width:800px;
  height:550px;
  display:none;
  margin:auto;
}
#joinLobby {
  position: absolute;
  display:flex;
  left:50%;
  top:65%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 2px 2px 1px gray;
}
#joinLobby * {
  border:none;
  padding:10px;
}
#joinLobby input {
  font-size:25px;
}
#submitId {
  font-size:25px;
  color:ghostwhite;
  background-color:#2ECC40;
  border:none;
}
#joinLobby input:focus {
  outline:none;
}
#joinLobby input:focus::placeholder {
  color:lightgray;
}
#idDisplay {
  color:dimgray;
}
#utensils input[type="text"] {
  padding: 6px;
  border:2px solid;
  border-radius:5px;
  border-color:black;
}
#utensils label {
  margin-right:10px;
  height:10px;
  width:30px;
  color:ghostwhite;
  padding:5px;
  background-color:gray;
  border-radius:5px;
  transition: 0.5s all;
}
#utensils  {
  margin:auto;
  padding:10px;
}
#Lpencil i {
  padding-left:4px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"]:checked + #Lpencil{
  background-color:#2ECC40;
  padding:5px 10px;
  transition: 0.5s all;
}
input[type="radio"]:checked + #Lrubber{
  background-color:#2ECC40;
  padding:5px 10px;
  transition: 0.5s all;
}
input[type="radio"]:checked + #Lbrush{
  background-color:#2ECC40;
  padding:  5px 10px;
  transition: 0.5s all;
}
