.splash {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.splash__logo {
  width: 500px;
  max-width: 80vw;
}

.splash__button {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.splash__button p {
  transition: all 0.2s;
  background-color: var(--primary);
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.splash__button p:hover {
  transition: all 0.2s;
  padding: 12px 22px 12px 22px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
}
