.input {
  padding: 10px;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
}

.inputWrapper input[type="text"],
input[type="number"] {
  width: 100%;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  border: 1px lightgray solid;
  border-radius: 4px;
}

.inputWrapper input[type="text"]:focus,
input[type="number"]:focus {
  outline: 1px var(--primary) solid;
}

.inputWrapper {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  font-size: 15px;
  position: relative;
}

.input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.inputWrapper__icon {
  float: left;
  height: 35px;
  width: 35px;
  background-color: white;
  border: 3px gray solid;
  border-radius: 100%;
  box-sizing: border-box;
}

.inputWrapper__icon.toggled:after {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 7px;
  left: 7px;
  border: 1px lightgray solid;
  border-radius: 100%;
  background-color: var(--primary);
  box-sizing: border-box;
}

.inputWrapper:hover .inputWrapper__icon {
  background-color: lightgray;
}

.inputWrapper__label {
  font-size: 15px;
  line-height: 1;
  margin: 0;
  margin-top: 10px;
}
